.containerSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;

  @media screen and (min-width: 1024px) {
    gap: 24px;
    height: 516px;
  }
}

.wrapperSliderAndDots {
  display: flex;
  align-items: center;
  justify-content: center;

  height: -webkit-fill-available;
}

.hiddenSlide {
  display: none;
}

.mockupImg {
  max-width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    height: 288px;
  }
}

.activeAnim {
  animation: slider 1000ms alternate ease-out;

  height: 264px;
  width: 288px;

  @media screen and (min-width: 768px) {
    height: 368px;
    width: 100%;
  }

  @media screen and (min-width: 1024px) {
    height: 400px;
  }
}

@keyframes slider {
  0% {
    opacity: 0;
    // transform: translateX(100%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.siteNameProject {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  // text-align: center;
  letter-spacing: 0.05em;

  color: #fafce3;

  margin-bottom: 18px;
  // border-bottom: 1px solid #c0d7f4;
  // width: min-content;
  transition-duration: 500ms;

  &:hover {
    scale: 1.1;
  }
}

.descriptionProject {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #c0d7f4;

  @media screen and (max-width: 1024px) {
    font-size: 12px;
    line-height: 12px;
  }

  @media screen and (min-width: 1024px) {
    width: 724px;
    height: 72px;
  }
}

.containerDots {
  display: flex;
  align-items: center;
  justify-content: center;
}

// .btnReadMore {
//   z-index: 1;
// }

.dotActive {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #c0d7f4;
  margin: 0 3px;
  cursor: pointer;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(192, 215, 244, 0.5);
  margin: 0 3px;
  cursor: pointer;

  transition-duration: 500ms;

  &:hover {
    width: 14px;
    height: 14px;
  }
}

.wrapperForModalText {
  max-width: 942px;
  margin: 0 auto;
  padding: 0;

  @media screen and (min-width: 768px) {
    // padding: 30px 46px 27px 98px;
    width: 640px;
    height: 246px;
    background-color: hsla(65, 81%, 94%, 0.1);
    border: 1px solid #fafce3;
    border-radius: 6px;
  }
}

.modalDetailText {
  font-weight: 700;
  font-size: calc(8px + 8 * (100vw / 1280));
  line-height: 19px;
  // display: flex;
  // align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #c0d7f4;

  width: 90%;
  height: 246px;
}

.modalDetailsHidden {
  display: none;
}
