@import 'styles/variables';

.backdrop {
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 101;

  opacity: 0;
  pointer-events: none;
  transition: all 1s ease;

  @media screen and (min-width: $tablet) {
    background-color: rgba(0, 0, 0, 0.85);
  }

  @media screen and (max-height: 500px) {
    align-items: flex-start;
  }
}

.backdrop.active {
  opacity: 1;
  pointer-events: all;
}

.modalContent {
  opacity: 0;
  transform: translateX(100vw);
  transition: all 1s ease;
}

.modalContent.activeContent {
  opacity: 1;
  transform: translateX(0);
}
