.backdrop {
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 105vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 101;

  animation: hideModal 1.7s forwards;
}

.modalContent {
  animation: hideModal 1.7s forwards;
}

.activeContent {
  animation: showModalContent 1s forwards;
}

@keyframes showModalContent {
  from {
    opacity: 0;
    transform: translateX(100vw);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.active {
  animation: showModal 0.7s forwards;
}

@keyframes showModal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// @keyframes hideModal {
//   from {
//     opacity: 1;
//     transform: scale(1);
//   }

//   to {
//     opacity: 0;
//     transform: scale(0.7);
//   }
// }
