@import 'styles/_variables';

.headerNav {
  position: fixed;
  top: 0;
  height: 68px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(16px);
  z-index: 100;
  padding-top: 24px;

  @media (max-width: $max_tablet) {
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
  }

  @media (min-width: $min_desktop) {
    padding-left: 96px;
    padding-right: 30px;
  }
}

.navLinkLogo {
  transition-duration: 500ms;

  &:hover {
    scale: 1.1;
  }

  @media (max-width: $max_tablet) {
    width: 56px;
    height: 40px;
  }
}

.laptopLogo {
  display: block;
  width: 145px;
  height: 39px;

  @media (max-width: $max_tablet) {
    display: none;
  }
}

.mobileLogo {
  display: none;
  width: 100%;
  height: 100%;

  @media (max-width: $max_tablet) {
    display: block;
  }
}

.menuNav {
  display: flex;
  align-items: center;
  gap: 20px;

  width: 604px;
  display: flex;
  justify-content: flex-end;

  @media (max-width: $max_tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -120%;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: left 1000ms;
    gap: 16px;
  }
  @media (min-width: $min_desktop_large) {
    width: 732px;
  }
}

.menuBurger {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (max-width: $max_tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -120%;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: left 1000ms;
  }
}

.mobileBtnNav {
  display: none;

  @media (max-width: $max_tablet) {
    display: block;
    z-index: 100;
    border: none;
    width: 48px;
    height: 48px;
    background-color: transparent;
    color: var(--main_bg_color_our_team);
  }
}

.navLinkNav {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  color: var(--light_color);

  @media (min-width: $min_desktop_large) {
    font-size: 20px;
  }

  &:hover {
    border-bottom: 1px solid var(--light_color);
  }

  @media (max-width: $max_tablet) {
    color: var(--light_color);
  }
}

.activeNavLinkNav {
  transition-duration: 1000ms;
  border-bottom: 1px solid var(--light_color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--main_color_btn);

  @media (min-width: $min_desktop_large) {
    font-size: 20px;
  }
}

.activeBurger {
  @media (max-width: $max_tablet) {
    color: var(--light_color);
    left: 0;
    border-bottom: 2px solid var(--main_color);
    border-radius: 8px;
  }
}

.navContainer {
  display: flex;
  align-items: center;
}

.desk {
  display: none;
  @media (max-width: $max_tablet) {
    display: block;
    margin-right: 24px;
  }
}

.mobile {
  margin-left: 84px;
  @media (max-width: $max_tablet) {
    display: none;
  }
}
