.btnSlideNext {
  z-index: 1;
  border: none;
  background-color: transparent;
  animation: arrowRight 1000ms infinite ease-out;
  max-width: 64px;
  height: 54px;

  @media screen and (max-width: 768px) {
    max-width: 48px;
    height: 48px;
  }
}

@keyframes arrowRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

.btnSlidePrev {
  z-index: 1;
  border: none;
  background-color: transparent;
  animation: arrowLeft 1000ms infinite ease-out;
  max-width: 64px;
  height: 54px;

  @media screen and (max-width: 768px) {
    max-width: 48px;
    height: 48px;
  }
}

@keyframes arrowLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}
