@import 'styles/variables';

.containerHeroBg {
  width: 100%;
  height: 768px;
  position: relative;
  background-image: url('./background_Hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  // z-index: -1;
  &::before {
    content: '';
    width: 100%;
    height: 217px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, #000002 18.89%, rgba(0, 0, 2, 0) 100%);
  }
  @media screen and (min-width: $tablet) {
    height: 1024px;
    text-align: start;
    align-items: flex-start;
    justify-content: start;
  }
}
.containerHero {
  @media screen and (min-width: $tablet) {
    padding-top: 146px;
    padding-left: 96px;
  }
  @media screen and (min-width: $tablet) {
    padding-top: 246px;
    padding-left: 96px;
  }
}
.contentHero {
  @media screen and (min-width: $tablet) {
    width: 458px;
  }
}

.textHero {
  font-family: 'Jura';
  font-weight: 600;
  font-size: 35px;
  line-height: 41px;
  color: #ebfbfa;
  margin-bottom: 56px;
}
.btnHero {
  font-family: 'Jura';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  padding: 16px 46px;

  color: #feebb2;
  background-color: transparent;
  border: 2px solid #feebb2;
  border-radius: 6px;
  cursor: pointer;
  &:hover {
    background-color: #feebb2;
    color: #263238;
  }
}

// .containerHeroBg {
//   width: 100%;
//   height: 100vh;
//   background-image: url('./earth-1272884_1920.jpg');
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
//   padding-top: 80px;
//   padding-bottom: 70px;
//   padding-left: 26px;
//   padding-right: 26px;
//   display: flex;
//   align-items: flex-end;
//   @media screen and (min-width: $tablet) {
//     justify-content: center;
//   }
//   @media screen and (min-width: $desktop) {
//     padding-left: 90px;
//   }
// }
// .containerHero {
//   width: 100%;
//   @media screen and (min-width: $desktop) {
//     padding-left: 150px;
//     padding-right: 0px;
//   }
// }
// .contentHero {
//   // width: 100%;
//   // height: 100%;
//   // text-align: center;
//   @media screen and (min-width: $tablet) {
//     // text-align: center;
//   }
//   @media screen and (min-width: $desktop) {
//     // text-align: start;
//   }
// }
// .contentHero {
//   width: 100%;
//   height: 100%;
//   text-align: center;
//   @media screen and (min-width: $tablet) {
//     text-align: center;
//   }
//   @media screen and (min-width: $desktop) {
//     text-align: start;
//   }
// }

// .textHero {
//   font-family: 'Josefin Sans';
//   font-weight: 500;
//   font-size: 18px;
//   line-height: 38px;
//   letter-spacing: 0.03em;
//   color: var(--light_color);
//   @media screen and (min-width: $tablet) {
//     font-size: 28px;
//     line-height: 48px;
//     letter-spacing: 0.07em;
//   }
//   @media screen and (min-width: $desktop) {
//     max-width: 800px;
//     font-size: 32px;
//   }
// }

// .titleHero {
//   text-transform: uppercase;
// }
