@import 'styles/_variables.scss';

.HowWeWork {
  background-color: var(--main_bg_color_our_team);
  padding: 20px;

  color: var(--text_color_name_our_team);

  padding: 64px 16px 16px 16px;
  // width: 1200px;
  // height: calc(100vh - 55px);
}

.HowWeWorkTitle {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
