:root {
  --main_color: #26262ae2;
  --second_color: #434398e2;
  // --main_bg_color: rgb(65, 74, 82);
  --main_bg_color: #303846;
  // --main_bg_color: #393939; // black theme
  // --light_color: #f1efee;
  --light_color: #fffcf6;
  --facebook_color: #4267b2;
  --telegram_color: #229ed9;
  --linkedin_color: #0e76a8;
}

$mobile: '320px';
$tablet: '768px';
$desktop: '1200px';

// Зразок, як користуватись:
// @media screen and (min-width: $desktop) {}