@import 'styles/_variables.scss';

.FAQItem {
  &:not(:last-child) {
    margin-bottom: 32px;
  }

  display: flex;

  align-items: flex-start;
  flex-direction: column;

  border-top: 1px solid rgba(255, 255, 255, 0.23);

  padding: 8px 10px;
}

.FAQQuestionContainer {
  display: flex;

  justify-content: space-between;
  cursor: pointer;
  width: 100%;

  overflow: hidden;

  padding-bottom: 22px;
}

.FAQQuestion {
  font-family: 'Jura', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: 0.05em;

  margin-right: auto;

  width: 100%;
  flex-wrap: wrap;
}

.FAQIcon {
  width: 24px;
  height: 24px;
  stroke: var(--text_color_name_our_team);

  margin-left: auto;

  transform: rotate(0);

  &__rotate {
    width: 24px;
    height: 24px;
    stroke: var(--text_color_name_our_team);
    transform: rotate(180deg);
  }
}

.FAQanswer {
  // margin-left: 8px;
  margin-top: 0;
  margin-bottom: 0;

  // animation: sweep 1s ease-in-out;

  display: flex;
  flex-wrap: wrap;

  font-family: 'Jura', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;

  color: var(--main_text_color_our_team);
  // transform: translateY(calc(-1.7em));

  // transition-duration: 1s;

  transition: height 0.5s linear, opacity 0.5s linear;

  opacity: 0;
  height: 0;
  overflow: hidden;
  border: 0;

  &__visible {
    // top: 0;
    margin: 0;
    margin-bottom: 5px;
    // margin-left: 8px;
    opacity: 1;

    height: 80px;

    overflow: auto;

    transition: height 0.5s linear, opacity 0.5s linear;
    // transition-duration: 1s;

    animation: sweep 1s ease-in-out;

    font-family: 'Jura', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;

    color: var(--main_text_color_our_team);
  }

  @keyframes sweep {
    0% {
      max-height: 0;
      opacity: 0;
    }
    100% {
      max-height: 2000px;
      opacity: 1;
    }
  }
}

.FAQLink {
  color: var(--text_color_name_our_team);
  cursor: pointer;
  border-bottom: 1px solid var(--text_color_name_our_team);
}
