@import 'styles/variables';

.wrapper {
    padding-top: 90px;
    width: 100vw;
    height: 100vh;
    background-color: var(--main_bg_color_our_team);
    display: flex;
    flex-direction: column;


    // from children's styles
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.05em;

    color: var(--main_text_color_our_team);
}

.mapGeneral {
    width: 1010px;
    height: 572px;
    margin: auto;
    margin-top: 54px;
    margin-bottom: 95px;
}

.coworker {
    display: flex;
    padding-top: 77px;
    padding-left: 80px;
    padding-bottom: 62px;
    padding-right: 80px;
}

.photo {
    width: 411px;
    height: 479px;
    border-radius: 12px;
}

.informationWrapper {
    margin-left: 64px;
    width: 628px;
}

.name {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
    color: var(--text_color_name_our_team);
}

.profession {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 19px;
}

.city {
    margin-bottom: 44px;
    font-size: 16px;
    line-height: 19px;
}

.country {
    font-size: 16px;
    line-height: 19px;
}

.quote {
    // width: 600px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 19px;
}

.humor {
    // width: 600px;
    margin-bottom: 43px;
    font-size: 16px;
    line-height: 19px;
}

.map {
    width: 594px;
    height: 336px;
    margin-left: auto;
}

.slider {
    display: flex;
    margin-bottom: 85px;
}

.sliderPhoto {
    cursor: pointer;
    border-radius: 50%;
}