@import 'styles/variables';

.btnSlidePrev {
  position: absolute;
  top: 20%;
  left: -23%;
  z-index: 1;
  border: none;
  background-color: transparent;
  animation: arrowLeft 1000ms infinite ease-out;
  width: 42px;
  height: 12px;
  cursor: pointer;

  @media screen and (min-width: $min_tablet) {
  }

  @media screen and (min-width: $min_desktop_large) {
    top: 20%;
    left: 4%;
  }
}

@keyframes arrowLeft {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

.btnSlideNext {
  position: absolute;
  top: 20%;
  // transform: translate(0, -50%);
  right: -23%;
  z-index: 1;
  border: none;
  background-color: transparent;
  animation: arrowRight 1000ms infinite ease-out;
  width: 42px;
  height: 12px;
  cursor: pointer;

  @media screen and (min-width: $min_tablet) {
  }

  @media screen and (min-width: $min_desktop_large) {
    top: 20%;
    // transform: translate(0, -50%);
    right: 4%;
  }
}

@keyframes arrowRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}
