.wrapper {
    width: 100%;
}

.list {
    padding: 10px;
    background-color: rgb(228, 220, 220);
}

.itemWrapper {
    width: 100%;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.descriptionTermChild {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;
    padding-top: 18px;
    padding-bottom: 18px;

    &:hover {
        color: hsl(211.57deg 100% 37.01%);
    }
}

.descriptionDetailsChild {
    margin-left: -100%;
    margin-top: 0;
    margin-bottom: 0;
    height: 0;
    overflow: hidden;
    border: 0;
    transition: all 200ms ease-out;

    &__visible {
        margin: 0;
        margin-bottom: 5px;
        transition-duration: 1000ms;
    }
}