.headerHeader {
  position: fixed;
  top: 0;
  width: 100%;
}

.boxHeader {
  position: fixed;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 16px;
  padding-right: 16px;
  backdrop-filter: blur(20px);

  background: transparent;
}

.titleHeader {
  font-size: xx-large;
  color: var(--main_color);
  color: white;
  font-weight: 700;
  background-color: rgb(65, 74, 82);
  padding: 8px;
  border-radius: 8px;
  border: 1px solid white;
}

.menuHeader {
  display: flex;
  align-items: center;
  font-size: 36px;
  line-height: 28px;
  gap: 36px;
}

.navLinkHeader {
  color: var(--main_color);
  &:hover {
    border-bottom: 2px solid var(--main_color);
  }
}

.wrapperBodyHeader {
  padding: 80px 16px 16px 16px;
}
