@import 'styles/_variables';

/*SliderInfo styles*/
.sliderInfoWrapper {
  margin-bottom: 24px;

  // @media screen and (min-width: $min_tablet) {
  // }

  // @media screen and (min-width: $min_desktop_large) {
  //   margin-bottom: 40px;
  //   padding: 10px 160px;
  // }
}

.coworker {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 59px;

  // @media screen and (min-width: $min_tablet) {
  // }

  // @media screen and (min-width: $min_desktop_large) {
  //   padding: 64px auto 32px;
  // }
}

.hidden {
  display: none;
}

.photo {
  width: 146px;
  height: 171px;
  border-radius: 10px;
  margin-bottom: 24px;

  // @media screen and (min-width: $min_tablet) {
  // }

  // @media screen and (min-width: $min_desktop_large) {
  //   width: 346px;
  //   height: 404px;
  // }
}

.informationWrapper {
  text-align: center;

  // @media screen and (min-width: $min_tablet) {
  // }

  // @media screen and (min-width: $min_desktop_large) {
  //   margin-left: 90px;
  //   width: 610px;
  //   text-align: left;
  // }
}

.name {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: var(--text_color_name_our_team);
  margin-bottom: 8px;
  text-align: center;

  // @media screen and (min-width: $min_tablet) {
  // }

  // @media screen and (min-width: $min_desktop_large) {
  //   margin-bottom: 24px;
  //   font-size: 20px;
  //   line-height: 24px;
  // }
}

.profession {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--main_text_color_our_team);
  margin-bottom: 24px;

  // @media screen and (min-width: $min_tablet) {
  // }

  // @media screen and (min-width: $min_desktop_large) {
  //   font-size: 14px;
  //   line-height: 17px;
  // }
}

.quote {
  // width: 240px;
  margin-bottom: 8px;
  font-family: 'Jura';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: var(--main_text_color_our_team);

  // @media screen and (min-width: $min_tablet) {
  // }

  // @media screen and (min-width: $min_desktop_large) {
  //   margin-bottom: 24px;
  //   font-size: 14px;
  //   line-height: 17px;
  // }
}

.humor {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  margin-bottom: 24px;
  color: var(--main_text_color_our_team);

  // @media screen and (min-width: $min_tablet) {
  // }

  // @media screen and (min-width: $min_desktop_large) {
  //   margin-bottom: 22px; // ??????
  //   font-size: 14px;
  //   line-height: 17px;
  // }
}

.city {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 24px;
  color: var(--main_text_color_our_team);

  // @media screen and (min-width: $min_tablet) {
  // }

  // @media screen and (min-width: $min_desktop_large) {
  //   font-size: 14px;
  //   line-height: 17px;
  // }
}

.country {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--main_text_color_our_team);

  // @media screen and (min-width: $min_tablet) {
  // }

  // @media screen and (min-width: $min_desktop_large) {
  //   font-size: 14px;
  //   line-height: 17px;
  // }
}

.map {
  width: 232px;
  height: 131px;

  // @media screen and (min-width: $min_tablet) {
  // }

  // @media screen and (min-width: $min_desktop_large) {
  //   height: 192px;
  //   margin: 0 auto;
  // }
}

/*SliderNav styles*/
.sliderNavWrapper {
  position: relative;

  // @media screen and (min-width: $min_tablet) {
  // }

  // @media screen and (min-width: $min_desktop_large) {
  //   padding: 0 60px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   flex-direction: column;
  //   position: relative;
  // }
}

.photosWrapper {
  width: 220px;
  height: 57px;
  margin: 0 auto 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;

  // @media screen and (min-width: $min_tablet) {
  // }

  // @media screen and (min-width: $min_desktop_large) {
  //   margin-bottom: 32px;
  //   width: 100%;
  //   height: 67px;
  // }
}

.onePhotoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 57px;

  // @media screen and (min-width: $min_tablet) {
  // }

  // @media screen and (min-width: $min_desktop_large) {
  //   width: 67px;
  // }
}

.photoSmall {
  width: 37px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.6;
  // transition: transform 0.25s;

  // transition-property: all;
  // transition-duration: 1s;
  // transition-timing-function: ease-in-out;
  // transition-delay: 0.5s;
  transition: all 1s ease-in-out 0.5s;

  // @media screen and (min-width: $min_tablet) {
  // }

  // @media screen and (min-width: $min_desktop_large) {
  //   // width: 48px;
  // }
}

.photoSmall:hover {
  transform: scale(1.4);
}

.activePhotoSmall {
  transform: scale(1.4);
  opacity: 1;
  transition: all 1s ease-in-out 0.5s;

  // @media screen and (min-width: $min_tablet) {
  // }

  // @media screen and (min-width: $min_desktop_large) {
  //   // width: 67px;
  // }
}

@keyframes opacity {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

.dotsWrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  // @media screen and (min-width: $min_tablet) {
  // }

  // @media screen and (min-width: $min_desktop_large) {
  //   gap: 10px;
  //   width: 500px;
  //   height: 34px;
  // }
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--slider_dot_color);
  cursor: pointer;
  // transition-duration: 500ms;

  &:hover {
    width: 8px;
    height: 8px;
  }

  // @media screen and (min-width: $min_tablet) {
  // }

  // @media screen and (min-width: $min_desktop_large) {
  //   width: 10px;
  //   height: 10px;

  //   &:hover {
  //     width: 14px;
  //     height: 14px;
  //   }
  // }
}

.activeDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--active_slider_dot_color);
  cursor: pointer;

  // @media screen and (min-width: $min_tablet) {
  // }

  // @media screen and (min-width: $min_desktop_large) {
  //   width: 14px;
  //   height: 14px;
  // }
}
