@import 'styles/_variables';

/*SliderInformation styles*/
.coworker {
  display: flex;
  // flex-direction: column;
  padding: 64px auto 32px;
  margin-bottom: 53px;
}

.hidden{
    display: none;
}
.photo {
  // margin-left: 160px;

  //макет вернуть если
  // width: 326px;
  // height: 381px;
  // мои пропорциине подойдут
  width: 346px;
  height: 405px;

  border-radius: 10px;
}

.informationWrapper {
  margin-left: 90px;
  width: 610px;
}

.name {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 24px;
  color: var(--text_color_name_our_team);
}

.profession {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 17px;
}

// .city {
//   margin-bottom: 24px;
//   font-size: 14px;
//   line-height: 17px;
// }

.city {
  // margin-bottom: 16px;
  font-size: 14px;
  line-height: 17px;
}

.country {
  font-size: 14px;
  line-height: 17px;
}

.quote {
  // width: 600px;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 17px;
}

.humor {
  // width: 600px;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 17px;
}

.map {
    //макет вернуть если
  // width: 297px;
  // height: 168px;
  // мои пропорции не подойдут
  width: 339px;
  height: 192px;

  margin: 0 auto;
}



/*SliderNav styles*/
.wrapper {
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    // gap: 24px;
    // height: 516px;
    // // overflow: hidden;
    // padding-bottom: 40px;

    // @media screen and (max-width: 768px) {
    //     gap: 40px;
    //     padding-bottom: 0px;
    // }
}

.photosWrapper{
    margin-bottom:32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:32px;
    width: 920px;
    height:67px;
    overflow: hidden;

    // height: -webkit-fill-available;
}

.photoSmall {
    width: 48px;
    cursor: pointer;
    border-radius: 50%;
    opacity:0.6;
    transition: transform 0.25s;
}

.activePhotoSmall {
    width: 67px;
    animation: opacity 300ms alternate ease-in-out;

    // @media screen and (min-width: 769px) {
    //     height: 400px;
    // }
}

@keyframes opacity {
    0% {
        opacity: 0.6;
        // transform: translateX(100%);
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

.dotsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width:500px;
    height:34px;
}

.activeDot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--active_slider_dot_color);
    cursor: pointer;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--slider_dot_color);
    cursor: pointer;

    transition-duration: 500ms;

    &:hover {
        width: 14px;
        height: 14px;
    }
}