.wrapper {
  height: 100vh;
  width: 100vw;
}

.mapСontainer {
  height: 100%;
  width: 100%;
}

.infoData {
  display: flex;
  flex-direction: column;
}

.place {
  font-weight: 700;
  color: red;
}

.name {
  font-weight: 700;
}

.profession {
  font-weight: 700;
  color: rgb(6 117 150);
}

.phone {
  font-size: 20px;
  color: blueviolet;
  font-weight: 700;
}

.email {
  font-size: 20px;
  font-weight: 700;
  color: #3e7d43;
}