.wrapper {
    height: 100vh;
    width: 100vw;
}

.mapСontainer {
    height: 100%;
    width: 100%;
}

// .marker {}

// .info_window {
// }


.infoData {
    display: flex;
    flex-direction: column;
}

// .gm-style-iw .gm-style-iw-c {
//   display: none;
// }