.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 36px);
  background-image: url(../../../images/notFoundGlobe.png);
  background-repeat: no-repeat;
  background-size: 56%;
  background-position-x: 98%;
  background-position-y: center;
}

h1 {
  color: wheat;
  text-align: center;
}
