@import 'styles/_variables.scss';

.FAQsection {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;

  //   max-width: 100vw;
  // margin-top: 16px;
  align-items: center;
}

// .FAQContentContainer {
//   margin-left: 80px;
//   margin-top: 48px;
//   justify-content: space-around;
// }

.FAQtitle {
  margin-bottom: 16px;

  font-family: 'Jura';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.FAQlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 984px;
  padding-bottom: 72px;

  @media (min-width: $tablet) and (max-width: $desktop) {
    width: 700px;
  }

  @media (min-width: 480px) and (max-width: 767px) {
    width: 420px;
    display: block;
  }

  @media (min-width: $mobile) and (max-width: 479px) {
    width: 300px;
    display: block;
  }
}
