.superDev__section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 32px;
}

.superDevList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 32px;
  column-gap: 32px;
  transition-duration: 1s;
}

.superDev__wrapper {
  position: relative;
  transition-duration: 1s;

  & .superDevClickMeLink {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    line-height: 0.9;

    color: white;
    text-shadow: 0 0 9px rgba(0, 0, 0, 0.3);

    position: absolute;
    right: 0px;
    bottom: 0px;

    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.485);
    padding-top: 36%;
    padding-left: 10px;
    padding-right: 10px;

    display: none;
  }
  &:hover {
    transform: scale(1.05);

    & .superDev {
      filter: blur(3px);
    }
    & .superDevClickMeLink {
      display: block;
      animation: blurLink 1s linear;
    }
  }
}

.superDev {
  width: 250px;
  height: fit-content;
  padding: 4px;
  transition-duration: 1s;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.582);

  &__imgWrapper {
    height: 244px;
    overflow: hidden;
    position: relative;

    & img {
      position: absolute;
      top: 0px;
    }
  }

  & h3 {
    font-weight: 800;
    font-size: 16px;
    color: var(--main_bg_color);
    text-align: center;
    margin: 16px 0px 12px;
  }
}

@media screen and (min-width: 768px) {
  .superDev {
    width: 200px;
  }

  .superDev__imgWrapper {
    height: 192px;
  }
}

@keyframes blurLink {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
