.superDev__section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 32px;
  padding: 90px 16px 16px 16px;
  background-image: url('/images/homeBg.jpg');
  background-size: 360vw;
  background-repeat: no-repeat;
  background-position: 49% 44%;
  background-attachment: fixed;
}

.superDevList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 32px;
  column-gap: 32px;
  transition-duration: 1s;
}

.superDev__wrapper {
  position: relative;
  transition-duration: 1s;
  background-color: rgba(255, 255, 255, 0.3);

  & .superDevClickMeLink {
    font-size: 70px;
    text-align: center;
    color: white;

    position: absolute;
    bottom: 0px;

    width: 100%;
    height: 100%;
    background-color: rgb(97 97 97 / 69%);
    padding-top: 45%;

    display: none;
  }
  &:hover {
    transform: scale(1.05);

    & .superDev {
      filter: blur(3px);
    }
    & .superDevClickMeLink {
      display: block;
      animation: blurLink 1s linear;
    }
  }
}

.superDev {
  width: 250px;
  height: fit-content;
  padding: 4px;
  transition-duration: 1s;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.582);

  &__imgWrapper {
    height: 244px;
    overflow: hidden;
    position: relative;

    & img {
      position: absolute;
      top: 0px;
      filter: brightness(1.1);
    }
  }

  & h3 {
    font-weight: 800;
    font-size: 16px;
    // color: var(--main_bg_color);
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    margin: 16px 0px 12px;
  }
}

@media screen and (min-width: 768px) {
  .superDev {
    width: 200px;
  }

  .superDev__imgWrapper {
    height: 192px;
  }
}

@keyframes blurLink {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
