@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Secular+One&display=swap');

.devPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;

  &__contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
  }

  &__itemWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
  }

  &__imgWrapper {
    width: 208px;
    height: 208px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.582);

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    position: relative;

    & img {
      width: 100%;
      position: absolute;
      top: 0px;
    }
  }

  &__quote {
    font-family: Great + Vibes;
    font-style: italic;
    font-size: 24px;
    line-height: 1;
    text-align: center;
  }

  &__goBackLinc {
    font-weight: 700;
    font-size: 12px;
    background-color: var(--main_bg_color);
    color: white;
    display: block;
    text-align: center;
    margin-bottom: 12px;
    padding: 8px 16px;
    border-radius: 16px;
  }
}

@media screen and (min-width: 768px) {
  .devPage {
    &__contentWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 40px;
      column-gap: 48px;
    }

    &__itemWrapper {
      row-gap: 24px;

      & h3 {
        font-size: 24px;
      }
    }

    &__imgWrapper {
      width: 240px;
      height: 240px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .devPage__contentWrapper {
    column-gap: 60px;
  }

  .devPage__imgWrapper {
    width: 320px;
    height: 320px;
  }

  .devPage__quote {
    font-size: 32px;
  }
}
