// Natali
// @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Secular+One&display=swap');
// @import 'styles/variables';

// .devPage {
//   min-height: calc(100vh - 56px);
//   padding: 48px 16px 16px;

//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   row-gap: 56px;

//   & h2 {
//     opacity: 0;
//     visibility: hidden;
//   }

//   &__contentWrapper {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     row-gap: 64px;

//     @media screen and (min-width: $tablet) {
//       display: flex;
//       flex-direction: row;
//       align-items: center;
//       padding: 40px;
//       column-gap: 80px;
//     }
//     @media screen and (min-width: $desktop) {
//       column-gap: 160px;
//     }
//   }

//   &__itemWrapper {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     row-gap: 12px;

//     @media screen and (min-width: $tablet) {
//       row-gap: 24px;
//     }

//     & h3 {
//       color: var(--main_bg_color);
//       @media screen and (min-width: $tablet) {
//         font-size: 24px;
//       }
//     }
//   }

//   &__imgWrapper {
//     width: 208px;
//     height: 208px;
//     border: 2px solid white;
//     border-radius: 50%;
//     background-color: white;
//     box-shadow: 0 0 8px rgba(0, 0, 0, 0.582);

//     display: flex;
//     align-items: center;
//     justify-content: center;

//     overflow: hidden;
//     position: relative;

//     @media screen and (min-width: $tablet) {
//       width: 240px;
//       height: 240px;
//     }

//     @media screen and (min-width: $desktop) {
//       width: 320px;
//       height: 320px;
//     }

//     & img {
//       width: 100%;
//       position: absolute;
//       top: 0px;
//     }
//   }

//   &__quoteWrapper {
//     position: relative;
//     width: 80%;
//   }

//   &__quoteMark {
//     color: rgba(0, 0, 0, 0.15);
//     position: absolute;
//     top: -56px;
//     left: -12px;
//   }

//   &__quote {
//     font-family: Great + Vibes;
//     font-style: italic;
//     font-size: 24px;
//     line-height: 1;
//     text-align: center;
//     color: var(--main_bg_color);

//     @media screen and (min-width: $desktop) {
//       font-size: 32px;
//     }
//   }

//   &__goBackLinc {
//     font-weight: 700;
//     font-size: 12px;
//     display: block;
//     text-align: center;
//     margin-bottom: 12px;
//     padding: 8px 16px;
//     border-radius: 16px;
//     transition-duration: 1s;

//     border: 2px solid var(--main_bg_color);
//     color: var(--main_bg_color);

//     &:hover {
//       transform: scale(1.1);
//       filter: brightness(2);
//     }
//   }
// }




@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Secular+One&display=swap');
@import 'styles/variables';

.devPage {
  min-height: calc(100vh - 56px);
  padding: 48px 16px 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 56px;

  & h2 {
    opacity: 0;
    visibility: hidden;
  }

  &__contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 64px;

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 40px;
      column-gap: 80px;
    }

    @media screen and (min-width: $desktop) {
      column-gap: 160px;
    }
  }

  &__itemWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;

    @media screen and (min-width: $tablet) {
      row-gap: 24px;
    }

    & h3 {
      color: var(--main_bg_color);

      @media screen and (min-width: $tablet) {
        font-size: 24px;
      }
    }
  }

  &__imgWrapper {
    width: 208px;
    height: 208px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.582);

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    position: relative;

    @media screen and (min-width: $tablet) {
      width: 240px;
      height: 240px;
    }

    @media screen and (min-width: $desktop) {
      width: 320px;
      height: 320px;
    }

    & img {
      width: 100%;
      position: absolute;
      top: 0px;
    }
  }

  &__quoteHumorWrapper {
    position: relative;
    width: 80%;
  }

  &__quoteMark {
    color: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: -56px;
    left: -12px;
  }

  &__quote {
    margin-bottom: 50px;
    font-family: Great + Vibes;
    font-style: italic;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: var(--main_bg_color);

    @media screen and (min-width: $desktop) {
      font-size: 32px;
    }
  }

  &__humorMark {
    color: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 80px;
    left: -12px;
  }

  &__humor {
    font-family: Great + Vibes;
    font-style: italic;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: var(--main_bg_color);

    @media screen and (min-width: $desktop) {
      font-size: 32px;
    }
  }

  &__goBackLinc {
    font-weight: 700;
    font-size: 12px;
    display: block;
    text-align: center;
    margin-bottom: 12px;
    padding: 8px 16px;
    border-radius: 16px;
    transition-duration: 1s;

    border: 2px solid var(--main_bg_color);
    color: var(--main_bg_color);

    &:hover {
      transform: scale(1.1);
      filter: brightness(2);
    }
  }
}