@import 'styles/variables';

.OurServices {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 130px 16px 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--main_bg_color_our_team);
  gap: 106px;
  transition-duration: 1s;
  @media screen and (max-width: $min_tablet) {
    gap: 64px;
  }
  @media screen and (min-width: $min_tablet) {
    gap: 32px;
  }
  @media screen and (min-width: 850px) {
    gap: 106px;
  }
  @media screen and (min-width: 1100px) and (max-width: 1230px) {
    gap: 32px;
  }
}

.servicesWrapper {
  width: 292px;
  height: 518px;
  border: 1px solid var(--main_color_btn);
  border-radius: 6px;
  padding: 20px 16px;
  text-align: center;
  position: relative;
  overflow: hidden;

  &:nth-child(3n + 2) {
    background-image: linear-gradient(
      rgba(250, 252, 227, 0),
      rgba(250, 252, 227, 0.2)
    );
  }

  &:nth-child(3n + 3) {
    background-image: linear-gradient(
      rgba(250, 252, 227, 0.1),
      rgba(250, 252, 227, 0.1)
    );
  }

  &:nth-child(3n + 1) {
    background-image: linear-gradient(
      rgba(250, 252, 227, 0.2),
      rgba(250, 252, 227, 0)
    );
  }

  & h2,
  & .whatIsItBtn {
    font-weight: 700;
    line-height: 1.18;
    text-align: center;
    color: var(--text_color_name_our_team);
  }

  & h2 {
    font-size: 16px;
    margin-bottom: 4px;
    transition-duration: 1s;
  }

  & .whatIsItBtn {
    font-size: 14px;
    border: none;
    background: none;
    margin-bottom: 16px;
    text-decoration-line: underline;
    text-underline-offset: 3px;
    animation: pulse 5s infinite;

    &:focus,
    &:hover {
      transform: scale(1.1);
      animation: none;
      filter: brightness(1.5);
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.1);
    filter: brightness(1.5);
  }

  100% {
    transform: scale(0.9);
  }
}

.allDescrWrapper {
  display: flex;
  width: 200%;
}

.servicesList {
  display: inline-block;
  list-style: disc;
  margin-left: 32px;
  transition-duration: 1s;
  width: 44%;

  &__item {
    font-size: 13px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 5%;
    text-align: left;

    color: rgba(192, 215, 244, 1);
  }
}
.servicesListHidden {
  transform: translateX(-110%);
  transition-duration: 1s;
  width: 44%;
}

.servicesDescription,
.servicesDescriptionHidden {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 5%;
  text-align: start;
  width: 44%;
  transition-duration: 1s;
  color: rgba(192, 215, 244, 1);
}

.servicesDescription {
  transform: translateX(-90%);
}

.servicesDescriptionHidden {
  transform: translateX(28%);
}

.btnWrapper {
  width: calc(100% - 32px);
  position: absolute;
  bottom: 20px;

  & .mainBtn {
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.priceWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  & p {
    font-size: 13px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.05em;
    text-align: center;

    color: var(--main_color_btn);
  }
}
