@import 'styles/variables';

* {
  transition-duration: 1s;
}

.contactsSection {
  min-height: calc(100vh - 36px);
  padding: 100px 16px 64px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  & .contactsForm {
    width: 100%;
    padding: 32px;
    // max-width: 276px;
    background-color: transparent;
    border: 1px solid #626262;

    & button {
      display: none;
    }

    & input,
    & textarea {
      background-color: transparent;
      border-bottom: 1px solid #626262;
      border-radius: 0px;
      color: var(--main_color_btn);
    }

    & input:focus + label {
      background-color: transparent;
      // padding: 5px;
    }

    label {
      color: #626262;
      padding-left: 0px;
      display: block;
      transform: translateY(-2em);
      transform-origin: 0 0;
      transition: all 0.3s;
    }

    & form button {
      display: block;
      background-color: var(--main_color_btn);
      color: #263238;
      padding: 8px 16px;
      width: fit-content;
      &:hover,
      &:focus {
        background-color: var(--main_color_btn);
        color: #263238;
      }

      & svg {
        display: none;
      }
    }

    & hr {
      display: none;
    }
    @media screen and (min-width: $tablet) {
      display: none;
    }
  }
}

.contactsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;

  @media screen and (min-width: $tablet) {
    padding: 32px 24px 40px;
    background-color: rgba(250, 252, 227, 0.1);
    border: 1px solid var(--text_color_name_our_team);
    border-radius: 12px;
    max-width: 880px;
  }

  & .contactsBtn {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0em;
    text-align: center;
    padding: 16px 24px;
    display: none;

    background-color: var(--main_color_btn);
    color: #263238;
    &:focus,
    &:hover {
      background-color: transparent;
      color: var(--main_color_btn);
    }
    @media screen and (min-width: $tablet) {
      display: block;
    }
  }
}

.contactsList {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 100%;
  // margin-bottom: 40px;

  & li {
    border-bottom: 1px solid var(--text_color_name_our_team);
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-bottom: 16px;
    // width: 100%;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      justify-content: space-between;
      padding-left: 4%;
      & h4,
      & a,
      & p {
        width: 32%;
      }
    }

    & h4 {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.17;
      letter-spacing: 0px;
      text-align: left;
      color: rgb(255, 255, 255);
    }

    & a,
    & p {
      color: rgb(192, 215, 244);
      text-align: left;
      display: flex;
      align-items: center;

      & svg {
        width: 24px;
        height: 24px;
        margin-right: 24px;
      }
    }
  }
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(192, 215, 244);
  // text-align: center;
  width: 100%;

  & svg {
    width: 24px;
    height: 24px;
    margin-right: 24px;
  }
}
