.wrapperFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: x-small;
  padding: 4px;
  width: 100%;
  background-color: var(--main_bg_color);
  color: var(--light_color);
}
