.wrapperFooter {
  text-align: center;
  padding: 8px;
  width: 100%;
  background-color: var(--main_bg_color);
  color: var(--light_color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    gap: 16px;
  }
}

.btnFooter {
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: transparent;
  color: var(--light_color);
  border: 2px solid var(--light_color);
  border-radius: 4px;
  &:hover {
    background-color: var(--light_color);
    color: var(--main_bg_color);
  }
}

.socialFooter {
  fill: var(--light_color);
}

.socialCircleFooter {
  outline: 2px solid var(--light_color);
}
