@import 'styles/variables';

footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 36px;
  background-color: var(--main_bg_color_our_team);
  @media screen and (min-width: $min_tablet) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.copyright {
  display: none;
  @media screen and (min-width: $min_tablet) {
    display: block;
    font-weight: 400;
    font-size: 16px;
    color: var(--main_text_color_our_team);
  }
}
.linkPosition {
  column-gap: 16px;
  margin-right: 16px;
  @media screen and (min-width: $min_tablet) {
    position: fixed;
    right: 30px;
    top: 300px;
    margin-right: 0px;
    flex-direction: column;
    row-gap: 15px;
  }
}
.linkSize {
  width: 16px;
  height: 16px;
  @media screen and (min-width: $min_tablet) {
    width: 25px;
    height: 25px;
  }
}
.iconSize {
  width: 8px;
  height: 8px;
  @media screen and (min-width: $min_tablet) {
    width: 15px;
    height: 15px;
  }
}
.mailBlock {
  display: flex;
  align-items: center;
  @media screen and (min-width: $min_tablet) {
    display: none;
  }
}
.mailLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  outline: 1px solid var(--light_color);
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
  margin-right: 8px;
  @media screen and (min-width: $min_tablet) {
    outline: 2px solid var(--light_color);
  }
  &:hover {
    cursor: pointer;
    outline-offset: 4px;
    animation: shake 0.25s;
    background: -webkit-linear-gradient(
      121.12deg,
      #e83448 -8.32%,
      #c3356e 85.14%
    );
    outline: 2px solid #e83448;
    // background: linear-gradient(45deg, #8e36e0 0%, #164b92 100%);

    // outline: 2px solid #8e36e0;
  }
}
@keyframes shake {
  10% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-15deg);
  }
}
.mailIcon {
  display: block;
  width: 13px;
  height: 13px;
  stroke: var(--light_color);
}
.mailText {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: var(--main_text_color_our_team);
}
