.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  background-color: #ebfbfa;
  width: 588px;
  height: 534px;
  border-radius: 6px;
  padding: 12px;
}

.closeBtn {
  padding: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  right: 35px;
  top: 35px;
  background-color: white;
  z-index: 2;
}

.iconClose {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

form {
  width: 408px;
  height: 354px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;

  transition: transform 700ms;
}

.wrapGroup {
  width: 100%;
}

.active {
  transform: translateX(0);
  transition: transform 2000ms;
}

.wrapError {
  position: relative;
  width: 100%;
}

.error {
  position: absolute;
  bottom: 72px;
  left: 125px;
  color: red;
  background-color: #ebfbfa;
  font-size: 14px;
  padding: 0 5px 0 5px;
}

.errorField {
  bottom: 120px;
  left: 125px;
}

.textarea {
  resize: none;
  overflow: hidden;
  height: 82px;
  padding-top: 5px;
}

.btnSubmit {
  font-family: 'Jura';
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  background-color: #ebfbfa;
  color: lightgray;
  width: 112px;
  height: 40px;

  border: 1px solid #020b11;
  border-radius: 6px;
}

.btnActiv {
  background-color: #fafce3;
  color: #020b11;
}

.contactsWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  height: 44px;
  // border: 1px solid red;
}

.contactsWrap hr {
  width: 77%;
  margin: 0 auto 10px;
  height: 2px;
  background: #020b11;
  margin-top: 20px;
}

.contactsList {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.contactsItem {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}

.iconItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
