:root {
  --main_color: #26262ae2;
  --second_color: rgba(255, 217, 0, 0.762);
}

$mobile: '767px';
$tablet: '768px';
$desktop: '1200px';

// Зразок, як користуватись:
// @media screen and (min-width: $desktop) {}
