@import 'styles/variables';

.titleWrapUa {
  overflow: hidden;
  display: inline-block;

  animation: typingUa 3s steps(26) forwards;

  @media screen and (min-width: $min_tablet) {
  }
}
@keyframes typingUa {
  0% {
    width: 0%;
    border-right: 2px solid white;
  }
  99% {
    border-right: 2px solid white;
  }
  100% {
    width: 100%;
    border-right: none;
  }
}

.titleUa {
  width: 268px;
  @media screen and (min-width: $min_tablet) {
    width: 322px;
  }
  @media screen and (min-width: $min_desktop) {
    width: 429px;
  }
}

.titleWrapUa2 {
  overflow: hidden;
  display: inline-block;

  animation: typingUa2 1.5s steps(13) 3s forwards;
}
@keyframes typingUa2 {
  0% {
    width: 0%;
    border-right: 2px solid white;
  }
  99% {
    border-right: 2px solid white;
  }
  100% {
    width: 100%;
    border-right: none;
  }
}

.titleUa2 {
  width: 145px;
  opacity: 0;
  margin-left: 57px;

  animation: titleUa2 100ms linear 3s forwards;

  @media screen and (min-width: $min_tablet) {
    width: 174px;
    margin-left: 0;
  }

  @media screen and (max-height: 420px) and (min-width: $min_tablet) {
    margin-left: 70px;
  }

  @media screen and (orientation: portrait) and (min-width: $min_tablet) {
    margin-left: 70px;
  }

  @media screen and (min-width: $min_desktop) {
    width: 232px;
  }
}

@keyframes titleUa2 {
  to {
    opacity: 1;
  }
}
