.wrapperProjects {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 36px);
  padding: 62px 16px 58px 16px;
  margin-top: 68px;
  width: 100%;
}

.cardProjects {
  max-width: 942px;
  margin: 0 auto;
  padding: 0;

  @media screen and (min-width: 768px) {
    padding: 30px 46px 27px 98px;
    background-color: hsla(65, 81%, 94%, 0.1);
    border: 1px solid #fafce3;
    border-radius: 6px;
  }
}
